{% extends 'base.html' %}

{% block head_title %}
- now!
{% endblock head_title%}


{% block content %}
Welcome to Shareit

<div id ='posts'>
    Loading...
</div>

<script>

const postElement = document.getElementById("posts")

// dynamically receive the request 
const xhr = new XMLHttpRequest()
const method = 'GET' 
const url = "/postit"
const responseType = "json"

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    console.log(xhr.response)
    const serverResponse = xhr.response
    const listedItems = serverResponse.response // array of response
    var finalPostStr = ""
    var i;
    for (i=0; i<listedItems.length; i++) {
        console.log(i)
        console.log(listedItems[i])
        var currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div<"
            finalPostStr += currentItem
    }
    postElement.innerHTML = finalPostStr
    // console.log(listedItems)
}
xhr.send()


</script>
{% endblock content %}