{% extends 'base.html' %}

{% block head_title %}
- now!
{% endblock head_title%}


{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Shareit</h1>
    </div>
</div>

<div class='row mb-4'>
    <div class='col-10 col-md-4 mx-auto'>
        <form  class='form' id='create-post-form' method='POST' action='/create-post'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id="post-create-form-error"></div>
            <input type='hidden' value="/" name="next"/>
            <textarea required="required" class='form-control' name="content" placeholder="Post message here..."></textarea>
            <button type='submit' class="btn btn-primary">Post</button>
        </form>
    </div> 
</div>

<div class='row' id ='posts'>
    Loading...
</div>

<script>

function handlePostCreateFormError(msg, display) {
    var myErrorDiv = document.getElementById('post-create-form-error')
    if (display === true) {
        // show error
        myErrorDiv.setAttribute('class', 'd-block alert alert-danger')
        myErrorDiv.innerText = msg
    } else {
        //hide error
        myErrorDiv.setAttribute('class', 'd-none alert alert-danger')
    }
}

function handleCreatePostFormDidSubmit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        if (xhr.status === 201) {
            handlePostCreateFormError("contentErrorMsg", false)
            const newPostJson = xhr.response
            const newPostElement = formatPostElement(newPostJson)
            const ogHtml = postElementContainer.innerHTML
            postElementContainer.innerHTML = newPostElement + ogHtml
            myForm.reset()
        } else if (xhr.status === 400) {
            const errorJson = xhr.response
            const contentError = errorJson.content
            let contentErrorMsg;
            if (contentError) {
                contentErrorMsg = contentError[0]
                if (contentErrorMsg) {
                    handlePostCreateFormError(contentErrorMsg, true)
                } else {
                    alert("Error occured. Please try again")
                }
            } else {
                alert("Error occured. Please try again")
            }
        } else if (xhr.status === 401) {
            alert("Please login")
            window.location.href = "/login"
        }
        else if (xhr.status === 500) {
            alert("Server error. Try again.")
        }
        
    }
    xhr.onerror = function() {
        alert("An error occured. Please try again later.")
    }
    xhr.send(myFormData)  
}

const createPostFormEl = document.getElementById("create-post-form")
createPostFormEl.addEventListener("submit", handleCreatePostFormDidSubmit)

const postElementContainer = document.getElementById("posts")

function loadPosts(postElement) {
    // dynamically receive the request 
    const xhr = new XMLHttpRequest()
    const method = 'GET' 
    const url = "/postit"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response // array of response
        var finalPostStr = ""
        var i;
        for (i=0; i<listedItems.length; i++) {
            var postObj = listedItems[i]
            var currentItem = formatPostElement(postObj)
                finalPostStr += currentItem
        }
        postElement.innerHTML = finalPostStr

    }
    xhr.send()
}

loadPosts(postElementContainer)


function handleLiked(post_id, currentCount) {
    console.log(post_id, currentCount)

}

function LikeBtn(post){ // like button that receives post id and number of likes
    return "<button class ='btn btn-primary btn-sm' onclick=handleLiked(" +
    post.id + ","+ post.likes + ")>" + post.likes +" Likes</button>"

}

function formatPostElement(post){

    var formattedPost = "<div class='col-12 col-md-10 mx-auto border py-3 mb-4' post id='post-" + post.id
    + "'><p>" + post.content +
        "</p><div class ='btn-group'>" + LikeBtn(post) +
        "</div></div>"
    return formattedPost
}

</script>
{% endblock content %}