{% extends 'base.html' %}

{% block head_title %}
- now!
{% endblock head_title%}


{% block content %}
Welcome to Shareit

<div id ='posts'>
    Loading...
</div>

<script>

const postElement = document.getElementById("posts") // script to replace innerHTML elements
// postElement.innerHTML = 'Loading...' // setting a new html in the element

// var el1 = "<h1>Hi there 1</h1>"
// var el2 = "<h1>Hi there 2</h1>"
// var el3 = "<h1>Hi there 3</h1>"
// postElement.innerHTML = el1 + el2 + el3

// dynamically receive the request 
const xhr = new XMLHttpRequest()
const method = 'GET' 
const url = "/postit"
const responseType = "json"

xhr.responseType = responseType
xhr.open(method, url)
xhr.onload = function() {
    console.log(xhr.response)
    const serverResponse = xhr.response
    const listedItems = serverResponse.response // array of response
    var finalPostStr = ""
    var i;
    for (i=0; i<listedItems.length; i++) {
        console.log(i)
        console.log(listedItems[i])
    }
    // console.log(listedItems)
}
xhr.send()


</script>
{% endblock content %}